:root {
  --white: #FFF;
  --primary: #61ECBC;
  --black: #182339;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url('/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  font-size: 2rem;
}

@media (max-width: 768px) {
  body {
    background-position: 57% center;
  }
}

.container {
  max-width: 60rem;
  width: 95%;
  margin: 0 auto;
}

.app-title {
  font-size: 3.8rem;
  margin-top: 5rem;
  color: var(--white);
  line-height: .8;
}

.app-title span {
  display: block;
  color: var(--primary);
  font-size: 4.4rem;
}

.content {
  margin-top: 5rem;
  padding: 6rem 2rem;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* Safari */
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

@media (max-width: 768px) {
  .content {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
  }
}

.form,
.field {
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

.form label {
  color: var(--black);
}

.form select {
  background-color: #ECEBEB;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.8rem;
}

.form [type="submit"] {
  background-color: var(--primary);
  color: var(--black);
  border: none;
  padding: 1rem;
  font-weight: 900;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 2rem;
  transition: background-color 300ms ease;
  border-radius: 1rem;
}

.form [type="submit"]:hover {
  background-color: #0CB387;
}